<div class="card">
  <div>
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class='card-body'
         *ngIf="vehicles().length">
  
      <div class="list-group">
        <button type="button"
                class="list-group-item"
                *ngFor="let vehicle of vehicles()"
                [ngClass]="{'active': vehicle?.name === selectedVehicle()?.name}"
                (click)="onSelected(vehicle.name)">
          {{ vehicle.name }}
        </button>
      </div>
    </div>
    <div>
        <app-vehicle-detail></app-vehicle-detail>
    </div>
    <div class="alert alert-danger"
         *ngIf="errorMessage">
      {{errorMessage }}
    </div>
  </div>
  <div class="list-vehicle">
    <app-cart-list></app-cart-list> 
    <div>
      <app-cart-total></app-cart-total>
    </div>
</div>
  </div>

  

